{% import 'macros.html' as macros with context %}

<html>
    <head>
        <title>Contribution Calendar</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="calendar-container">
            <div class="month-column">
                {% set month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %}
                
                {% for date in dates %}
                    {% set days_in_month = calendar.monthrange(date.year, date.month)[1] %}
                    <div class="month" data-month="{{ date.month }}" data-year="{{ date.year }}">
                        <h2>{{ month_names[date.month - 1] }} {{ date.year }}</h2>
                        <div class="contribution-graph">
                            <!-- Add a row for the date boxes -->
                            <div class="row date-row">
                                {% for day in range(1, 32) %}
                                    {% if day <= days_in_month %}
                                        {% set current_date = date.replace(day=day) %}
                                        {% set weekday = current_date.weekday() %}
                                        <div class="date-box {% if weekday >= 5 %}weekend{% endif %}" data-month="{{ date.month }}" data-date="{{ day }}">{{ '%02d' % day }}</div>
                                    {% else %}
                                        <div class="date-box hidden"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <!-- Add the rows and boxes for each week and day -->
                            {% for row in range(5) %}
                            <div class="row">
                                {% for day in range(1, 32) %}
                                    {% if day <= days_in_month %}
                                        <div class="box" data-month="{{ date.month }}" data-date="{{ day }}">
                                            <!-- <span class="coordinates">{{ ['A', 'B', 'C', 'D', 'E', 'F', 'G'][row] }}{{ day }}</span> -->
                                        </div>
                                    {% else %}
                                        <div class="box hidden"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <!-- Add a container for the palette -->
        <div class="palette-container">
            <div class="palette">
                <div class="color" style="background-color: #326030;"></div>
                <div class="color" style="background-color: #51984a;"></div>
                <div class="color" style="background-color: #91c682;"></div>
                <div class="color" style="background-color: #cde29a;"></div>
                <div class="color" style="background-color: #eafdc1;"></div>
                <div class="color" style="background-color: #Fbb153;"></div>
                <div class="color" style="background-color: #f98500;"></div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>